openapi: 3.0.3
info:
  title: Nimons360 API
  description: REST API contract for the Nimons360 family tracking application. WebSocket is intentionally excluded.
  version: 2.0.0

servers:
  - url: https://mad.labpro.hmif.dev
    description: Production server

security:
  - BearerAuth: []

tags:
  - name: Authentication
  - name: User
  - name: Families
  - name: Notifications

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password

    User:
      type: object
      properties:
        id:
          type: integer
          example: 12
        nim:
          type: string
          nullable: true
          example: "13522084"
        email:
          type: string
          format: email
        fullName:
          type: string
        profileImageUrl:
          type: string
          nullable: true
          example: https://mad.labpro.hmif.dev/uploads/13522084.png

    Profile:
      allOf:
        - $ref: '#/components/schemas/User'
        - type: object
          properties:
            createdAt:
              type: string
              format: date-time
              nullable: true
            updatedAt:
              type: string
              format: date-time
              nullable: true

    LoginResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            token:
              type: string
              example: jwt
            expiresAt:
              type: string
              format: date-time
            user:
              $ref: '#/components/schemas/User'

    ProfileResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Profile'

    UpdateProfileRequest:
      type: object
      required: [fullName]
      properties:
        fullName:
          type: string
          minLength: 1

    FamilyMember:
      type: object
      properties:
        id:
          type: integer
          nullable: true
        fullName:
          type: string
        email:
          type: string
          format: email
        joinedAt:
          type: string
          format: date-time
          nullable: true
        profileImageUrl:
          type: string
          nullable: true
          example: https://mad.labpro.hmif.dev/uploads/13522084.png

    FamilySummary:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        iconUrl:
          type: string
          format: uri
        memberCount:
          type: integer
          nullable: true
        familyCode:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
          nullable: true
        updatedAt:
          type: string
          format: date-time
          nullable: true
        members:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/FamilyMember'

    FamilyDetail:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        iconUrl:
          type: string
          format: uri
        isMember:
          type: boolean
          nullable: true
        familyCode:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
          nullable: true
        updatedAt:
          type: string
          format: date-time
          nullable: true
        members:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/FamilyMember'

    FamilyListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/FamilySummary'

    FamilyDetailResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/FamilyDetail'

    CreateFamilyRequest:
      type: object
      required: [name, iconUrl]
      properties:
        name:
          type: string
          minLength: 1
        iconUrl:
          type: string
          format: uri
          enum:
            - https://mad.labpro.hmif.dev/assets/family_icon_1.png
            - https://mad.labpro.hmif.dev/assets/family_icon_2.png
            - https://mad.labpro.hmif.dev/assets/family_icon_3.png
            - https://mad.labpro.hmif.dev/assets/family_icon_4.png
            - https://mad.labpro.hmif.dev/assets/family_icon_5.png
            - https://mad.labpro.hmif.dev/assets/family_icon_6.png
            - https://mad.labpro.hmif.dev/assets/family_icon_7.png
            - https://mad.labpro.hmif.dev/assets/family_icon_8.png

    JoinFamilyRequest:
      type: object
      required: [familyId, familyCode]
      properties:
        familyId:
          type: integer
        familyCode:
          type: string
          minLength: 6
          maxLength: 6

    JoinFamilyResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            joined:
              type: boolean

    LeaveFamilyRequest:
      type: object
      required: [familyId]
      properties:
        familyId:
          type: integer

    LeaveFamilyResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            left:
              type: boolean

    SubscribeDeviceTokenRequest:
      type: object
      required: [fcmToken]
      properties:
        fcmToken:
          type: string

    SubscribeDeviceTokenResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            subscribed:
              type: boolean

    UnsubscribeDeviceTokenResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            unsubscribed:
              type: boolean

    SendFamilyNotificationRequest:
      type: object
      required: [familyId, message]
      properties:
        familyId:
          type: integer
        message:
          type: string
          minLength: 1

    SendFamilyNotificationResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            sent:
              type: boolean

    SendGreetingNotificationRequest:
      type: object
      required: [familyId, targetUserId, message]
      properties:
        familyId:
          type: integer
        targetUserId:
          type: integer
        message:
          type: string
          minLength: 1

    SendGreetingNotificationResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            delivered:
              type: boolean

paths:
  /api/login:
    post:
      tags: [Authentication]
      summary: Login with email and password
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Invalid credentials

  /api/me:
    get:
      tags: [User]
      summary: Get current user profile
      responses:
        '200':
          description: Current user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '401':
          description: Unauthorized
    patch:
      tags: [User]
      summary: Update current user's full name
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: Updated profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '401':
          description: Unauthorized

  /api/me/photo:
    post:
      tags: [User]
      summary: Upload or replace current user's profile photo
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [photo]
              properties:
                photo:
                  type: string
                  format: binary
                  description: PNG or JPEG image, maximum 500 KB.
      responses:
        '200':
          description: Updated profile with profileImageUrl
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '401':
          description: Unauthorized
        '413':
          description: Image is too large

  /api/me/families:
    get:
      tags: [Families]
      summary: Get families joined by current user
      responses:
        '200':
          description: User family list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FamilyListResponse'
        '401':
          description: Unauthorized

  /api/families:
    get:
      tags: [Families]
      summary: Get all families
      responses:
        '200':
          description: All families
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FamilyListResponse'
        '401':
          description: Unauthorized
    post:
      tags: [Families]
      summary: Create a new family
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFamilyRequest'
      responses:
        '200':
          description: Created family detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FamilyDetailResponse'
        '401':
          description: Unauthorized

  /api/families/discover:
    get:
      tags: [Families]
      summary: Get 5 random discoverable families
      responses:
        '200':
          description: Discoverable families
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FamilyListResponse'
        '401':
          description: Unauthorized

  /api/families/{familyId}:
    get:
      tags: [Families]
      summary: Get family detail by ID
      parameters:
        - name: familyId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Family detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FamilyDetailResponse'
        '401':
          description: Unauthorized
        '404':
          description: Family not found

  /api/families/join:
    post:
      tags: [Families]
      summary: Join a family with family ID and code
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JoinFamilyRequest'
      responses:
        '200':
          description: Joined family
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JoinFamilyResponse'
        '401':
          description: Unauthorized

  /api/families/leave:
    post:
      tags: [Families]
      summary: Leave a family
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaveFamilyRequest'
      responses:
        '200':
          description: Left family
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaveFamilyResponse'
        '401':
          description: Unauthorized

  /api/notifications/subscribe:
    post:
      tags: [Notifications]
      summary: Subscribe current device FCM token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscribeDeviceTokenRequest'
      responses:
        '200':
          description: Token subscribed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscribeDeviceTokenResponse'
        '401':
          description: Unauthorized

  /api/notifications/unsubscribe:
    post:
      tags: [Notifications]
      summary: Unsubscribe current user's device token
      responses:
        '200':
          description: Token unsubscribed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsubscribeDeviceTokenResponse'
        '401':
          description: Unauthorized

  /api/notifications/send:
    post:
      tags: [Notifications]
      summary: Send broadcast notification to a family
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendFamilyNotificationRequest'
      responses:
        '200':
          description: Notification sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendFamilyNotificationResponse'
        '401':
          description: Unauthorized

  /api/notifications/greeting:
    post:
      tags: [Notifications]
      summary: Send greeting notification to a family member
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendGreetingNotificationRequest'
      responses:
        '200':
          description: Greeting delivered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendGreetingNotificationResponse'
        '401':
          description: Unauthorized
